<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>
    del, ins {
    text-decoration: none;
    }
    del {
    background-color: #fbb6c2;
    }
    ins {
    background-color: #d4fcbc;
    }
    em {
    color: gray;
    }
    </style>
</head>
<body>
{{ body }}
</body>
</html>
